body {
  background-image: url("../media/bg1.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
}


p {
  color: rgb(205, 242, 255);
}
