---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Desc from "../components/Desc.astro";
---

<Layout title="About">
  <div class="mt-10">
    <h1 class="text-4xl text-center">About Me</h1>
    <div class="flex justify-center justify-evenly">
    </div>
    <svg class="w-2/3 m-2 mt-4 mx-auto opacity-10" width="100%" height="10" transition:name="hero">
      <line x1="20%" y1="5" x2="80%" y2="5" stroke="black" stroke-width="3"
      ></line>
    </svg>
  </div>
  <Desc text="Read about some of my hobbies and studies"/>
	<Card title=""/>
	<Card title=""/>
</Layout>

<style>
  line {
    stroke: var(--fg);
  }

</style>
