---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<div class="mt-10">
			<h1 class="text-4xl text-center">Welcome</h1>
			<div class="flex justify-center justify-evenly">
				<a class="ml-10" href="https://www.linkedin.com/in/nicholas-rosdahl/" target="_blank">
					Linkedin
				</a>
				<a class="mr-10" href="https://github.com/BleedingXiko/Personal_Website" target="_blank">
					Github
				</a>
			</div>
			<svg class="w-2/3 m-2 mt-4 mx-auto opacity-10" width="100%" height="10">
				<line x1="3%" y1="5" x2="97%" y2="5" stroke="black" stroke-width="3" />
			</svg>
	</div>

	<section class="bg-blue-500 w-2/4 flex flex-col justify-center align-center m-auto pb-6 mt-48 mb-12">
		<h2 class="bg-black text-white mb-2 flex justify-center p-4 align-center">About Me</h2>
		<p class="px-6">Through my personal website, I aim to share my experiences, showcase my projects, and engage with the web development community. When I'm not coding, you can find me exploring the great outdoors, discovering new games, and cooking delicious food. Embarking on this new journey in web development has been an eye-opening experience. I've delved into HTML and look forward to learning CSS and Javascript. Excited to learn frameworks like React and Angular! <br> </br>If you'd like to know more about my game development journey, feel free to connect with me on <a href="https://www.linkedin.com/">LinkedIn </a>(Coming Soon, <a href="#contact">Contact Me</a> instead!)</p>
	</section>
	<section class="bg-blue-500 w-2/4 flex flex-col justify-center align-center m-auto pb-6 mt-48 mb-12">
		<h2 class="bg-black text-white mb-2 flex justify-center p-4 align-center">About Me</h2>
		<p class="px-6">Through my personal website, I aim to share my experiences, showcase my projects, and engage with the web development community. When I'm not coding, you can find me exploring the great outdoors, discovering new games, and cooking delicious food. Embarking on this new journey in web development has been an eye-opening experience. I've delved into HTML and look forward to learning CSS and Javascript. Excited to learn frameworks like React and Angular! <br> </br>If you'd like to know more about my game development journey, feel free to connect with me on <a href="https://www.linkedin.com/">LinkedIn </a>(Coming Soon, <a href="#contact">Contact Me</a> instead!)</p>
	</section>

	
</Layout>