---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Desc from "../components/Desc.astro";
---

<Layout title="Home">
  <div class="mt-10">
    <h1 class="text-4xl text-center">Welcome</h1>
    <div class="flex justify-center justify-evenly">
      <a
        class="ml-10"
        href="https://www.linkedin.com/in/nicholas-rosdahl/"
        target="_blank"
      >
         <i class="fa-2x fa-brands fa-linkedin"></i>
      </a>
      <a
        class="mr-10"
        href="https://github.com/BleedingXiko/Personal_Website"
        target="_blank"
      >
       <i class="fa-2x fa-brands fa-github"></i>
      </a>
    </div>
    <svg class="w-2/3 m-2 mt-4 mx-auto opacity-10" width="100%" height="10" transition:name="hero">
      <line x1="3%" y1="5" x2="97%" y2="5" stroke="black" stroke-width="3"
      ></line>
    </svg>
  </div>
  <Desc text="This is where i plan to showcase my portfolio and share about my personal life"/>

  <Card title="About Me" />
  <Card title="Portfolio" />
</Layout>

<style>

  div {
    animation: 3s fadeInUp;
  }

  line {
    stroke: var(--fg);
  }

</style>
