---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Home">
  <div class="mt-10">
    <h1 class="text-4xl text-center">Welcome</h1>
    <div class="flex justify-center justify-evenly">
      <a
        class="ml-10"
        href="https://www.linkedin.com/in/nicholas-rosdahl/"
        target="_blank"
      >
        Linkedin
      </a>
      <a
        class="mr-10"
        href="https://github.com/BleedingXiko/Personal_Website"
        target="_blank"
      >
        Github
      </a>
    </div>
    <svg class="w-2/3 m-2 mt-4 mx-auto opacity-10" width="100%" height="10">
      <line x1="3%" y1="5" x2="97%" y2="5" stroke="black" stroke-width="3"
      ></line>
    </svg>
  </div>

  <div>
    have each section give a breif explaination of what that section is about
    and link to that page and treat it like switching tabs from the navabar
    stackblitz + github integration test commit
  </div>

  <Card title="About Me" />
  <Card title="Portfolio" />
</Layout>
