---
import Layout from '../layouts/Layout.astro';
import ImageSlider from '../components/ImageSlider.tsx';
import Card from '../components/Card.astro';


const imgConfig = {
href: ["https://neural-bird.netlify.app/", "https://github.com/godotengine/godot/pull/68625", "https://duetprosper-urbanjanet.codio.io/index.html"],

desc: ["Modified a neural network to be trained and executed on low resource hardware (Web browser & Meta Quest 2", "Adapted to a large scale project's codebase and added a requested feature", "Portfolio Website demonstrating different web development concepts"],

imgs: ["https://res.cloudinary.com/dpfu8nq5k/image/upload/v1696702230/Project-11/bird_vwmz9g.png","https://res.cloudinary.com/dpfu8nq5k/image/upload/v1696702230/Project-11/gogot_vo1jvy.png" ,"https://res.cloudinary.com/dpfu8nq5k/image/upload/v1696702230/Project-11/p3_hs5bdc.png"],

}
---

<Layout title="Home">
	<Card title=""/>
	<div class="imgslider-container">
		<ImageSlider desc={imgConfig.desc} href={imgConfig.href} urls={imgConfig.imgs} client:load/>
	</div>
	<Card title=""/>
</Layout>

<style>
	.imgslider-container {
		max-width: 1200px;
		width: 100%;
		aspect-ratio: 3/2;
		margin: 0 auto;
	}
</style>