---
interface Props {
    title?: string;
  }

const {title} = Astro.props;
---





<section class="w-3/4 flex flex-col justify-center align-center m-auto pb-6 mt-48 mb-12 md:w-2/4">
  {title ? 
  
      <h2 class="text-white mb-2 flex justify-center p-4 align-center text-2xl">{title}</h2> 
      <p class="px-6 py-4">Through my personal website, I aim to share my experiences, showcase my projects, and engage with the web development community. When I'm not coding, you can find me exploring the great outdoors, discovering new games, and cooking delicious food. Embarking on this new journey in web development has been an eye-opening experience. I've delved into HTML and look forward to learning CSS and Javascript. Excited to learn frameworks like React and Angular! <br> </br>If you'd like to know more about my game development journey, feel free to connect with me on <a href="https://www.linkedin.com/">LinkedIn </a>(Coming Soon, <a href="#contact">Contact Me</a> instead!)</p>

    : 
    
      <p class="px-6 py-4">Through my personal website, I aim to share my experiences, showcase my projects, and engage with the web development community. When I'm not coding, you can find me exploring the great outdoors, discovering new games, and cooking delicious food. Embarking on this new journey in web development has been an eye-opening experience. I've delved into HTML and look forward to learning CSS and Javascript. Excited to learn frameworks like React and Angular! <br> </br>If you'd like to know more about my game development journey, feel free to connect with me on <a href="https://www.linkedin.com/">LinkedIn </a>(Coming Soon, <a href="#contact">Contact Me</a> instead!)</p>
  }
</section>

<style>

p {
  color: black;
  background-color: var(--fg);
}

</style>
