<footer
  class="flex justify-center place-items-center static bottom-0 w-full h-12"
>
  <p>© 2023 Nicholas Rosdahl. All rights reserved.</p>
</footer>

<style>
  footer {
    background-color: #f5f5f5;
    color: #333;
  }
</style>
