/* this is treated as global styling wiht Astro so make specific names */



*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.rsis-image {
    background-size: contain !important;
  }

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.heading h1 {
    padding: 10px;
    width: 80%;
    background-color: aqua;
}

.heading p {
    padding: 30px;
    width: 60%;
    background-color: blue;
}

    
.container {
    width: 80%;
    height: 80%;
    position: relative;
    text-align: center;
}

.img-btn {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
}
.img-btn > * {
    stroke: white;
    fill: black;
    width: 2rem;
    height: 2rem;

}

.img-btn:hover {
    background-color: rgba(0,0,0,0.2);
}



.slider-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}